<section class="jumbotron bg-white border-0">
    <div class="container">
        <div class="container center-text-div">
            <h3 class="font-weight-normal heading">Contact Us</h3>
            <hr>
        </div>
        <form>
            <div class="form-row my-2">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="fnameHelp" class="form-text text-muted">First Name*</small>
                    <input type="text" class="shadow-sm" placeholder="" title="Please enter your first name">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="lnameHelp" class="form-text text-muted">Last Name</small>
                    <input type="text" class="shadow-sm" placeholder="" title="Please enter your last name">
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="emailHelp" class="form-text text-muted">Email Address*</small>
                    <input type="email" class="shadow-sm" placeholder="" title="Please enter your email address">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="mobileHelp" class="form-text text-muted">Mobile Number*</small>
                    <input type="text" class="shadow-sm" placeholder=""
                        title="Please enter your valid mobile number">
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <small id="passwordHelp" class="form-text text-muted">Message</small>
                    <textarea class="shadow-sm" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
            </div>
            <div class="py-4 text-center">
                <button class="btn btn-success contact-send-btn">Send</button>
            </div>
        </form>
    </div>
</section>