<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                    <!-- <img class="logo-footer" src="https://spennyapp.com/static/media/logo.6c935978.png" alt="logo-footer" data-at2x="assets/img/logo.png"> -->
                    <h2>Smart Star Investment</h2>
                    <p>
                        You Trust, We Believe
                    </p>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                    <h3>Contact</h3>
                    <p><i class="fas fa-map-marker-alt"></i>1355 Market St, Suite 900
                        San Australia, CA 94103
                       </p>
                    <p><i class="fas fa-phone"></i> Phone:  P: (123) 456-7890</p>
                    <p><i class="fas fa-envelope"></i> Email: <a href="mailto:smartstarinvestment@gmail.com">smartstarinvestment@gmail.com</a></p>
                    
                </div>
              
              <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                   <p><i class="fab fa-skype"></i> © 2020 Smart Star Investment</p>
                </div>
                
            </div>
        </div>
    </div>
</footer>