<footer class="bd-footer text-muted jumbotron bg-white border-top py-1">
    <div class="container-fluid">
        <ul class="nav justify-content-left">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-github"></i> GitHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-twitter"></i> Twitter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-linkedin"></i> Linkedin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-info"></i> About</a>
            </li>
        </ul>
        <div class="d-flex justify-content-between">
            <!-- <p class="text-dark">Designed and built by the <a href="#">Splixcube team.</a></p> -->

            <div class="bd-example p-3">
                <address>
                    <strong class="h4">Smart Star Investment</strong><br />
                    <small>You Trust, We Believe</small>
                    <br>
                    1355 Market St, Suite 900<br />
                    San Australia, CA 94103<br />
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                <p class="text-dark">&copy; 2020 Smart Star Investment.</p>
            </div>

            <address>
                <strong>Contact Us</strong><br />
                <a href="mailto:smartstarinvestment@gmail.com">smartstarinvestment@gmail.com</a>
            </address>
        </div>
    </div>
</footer>
