<div class="jumbotron jumbotron-fluid border-0 m-0 ml-sm-auto row">
    <div class="col-md-2 ml-sm-auto col-lg-4"></div>

    <div class="col-md-8 ml-sm-auto col-lg-4">
        <div class="container card bg-white border p-5 w-100 shadow">
            <div class="center-text-div">
                <h3 class="font-weight-normal heading">Forget Password</h3>
                <hr>
            </div>
            <form (ngSubmit)="resetPassword(forgetPasswordForm)" #forgetPasswordForm="ngForm">

                <div class="form-row my-2">
                    <div class="col">
                        <small class="form-text text-muted h6">Email Address</small>
                        <input type="email" class="shadow-sm" placeholder="johnwick@example.com" name="email" ngModel required
                            title="Please enter your email for reset password">
                    </div>
                </div>
                <div class="py-3">
                    <button type="submit" [disabled]="!forgetPasswordForm.valid" class="btn reset-pass-btn border">Reset
                        Password</button>
                    <a routerLink="/auth" class="btn btn-light reset-pass-cancel-btn border m-2">Cancel</a>
                </div>
                <small class="form-text text-muted">To Sign in into account <a routerLink="/auth">Click
                        here</a></small>
            </form>
        </div>
    </div>
    <div class="col-md-2 ml-sm-auto col-lg-4"></div>
</div>