.reset-pass-btn{
    background-color: #12003B;
    color: #fff;
    border-radius: 2em;
    padding: 5px 30px 5px;
}

.reset-pass-cancel-btn{
    border-radius: 2em;
    padding: 5px 30px 5px;
}
