<div class="jumbotron jumbotron-fluid bg-white border-0">
    <div class="container card bg-transparent border-0">
        <form (ngSubmit)="resetPassword(forgetPasswordForm)" #forgetPasswordForm="ngForm">
            <div class="container center-text-div">
                <h3 class="font-weight-normal heading">Forget Password</h3>
                <hr>
            </div>
            
                <div class="form-row my-2">
                    <div class="col">
                        <small class="form-text text-muted">Email Address</small>
                        <input type="email" class="shadow-sm" placeholder="" name="email" ngModel required>
                    </div>
                </div>
                <div class="py-4">
                    <button type="submit" [disabled]="!forgetPasswordForm.valid" class="btn btn-submit shadow-sm text-decoration-none">Reset Password</button>
                </div>
        </form>
            <small class="form-text text-muted">To Sign in into account <a routerLink="/auth">Click
                    here</a></small>
        
    </div>
</div>