<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark header-nav-bg px-3 border-bottom sticky-top py-1">
    <a class="navbar-brand" routerLink="">
        <h5 class="font-weight-bold">Smart Star Investment</h5>
    </a>
    <!-- Testing perspose -->
    <!-- <div class="p-3" *ngIf="isUser() else notUser">
        <button class="navbar-brand border p-2 rounded-circle d-block d-lg-none d-xl-none" type="button" id="menu-toggle">
            <i class="fa fa-power-off"></i>
        </button>
    </div>

    <ng-template #notUser>
        <button class="navbar-toggler toggle border-0" type="button" id="menu-toggle">
            &#9776;
        </button>
    </ng-template> -->
    <!-- Testing perspose -->

    <!-- <div class="my-2">
        <button class="navbar-toggler toggle border-0" type="button" id="menu-toggle" (click)="logout()">
            <i class="fa fa-power-off"></i>
        </button>
    </div> -->

    <span class="right-nav-buttons" *ngIf="isUser() else notUser">
        <button class="navbar-toggler toggle border-0" (click)="logout()">
            <i class="fa fa-power-off"></i>
        </button>
        <button class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed" type="button">
            &#9776;
        </button>
    </span>

    

    <ng-template #notUser>
        <span class="right-nav-buttons">
            <button class="navbar-toggler toggle border-0" routerLink="/auth">
                <i class="fa fa-user"></i>
            </button>
        </span>
    </ng-template>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="mr-auto">
            <ul class="navbar-nav">
                <li (click)="isMenuCollapsed = !isMenuCollapsed" class="nav-item">
                    <a class="nav-link" *ngIf="isUser()" routerLink="/dashboard">Dashboard</a>
                </li>
<!--                 <li (click)="isMenuCollapsed = !isMenuCollapsed" class="nav-item">
                    <a class="nav-link" routerLink="">Home</a>
                </li> -->
<!--                 <li (click)="isMenuCollapsed = !isMenuCollapsed" class="nav-item">
                    <a class="nav-link" routerLink="">How It Works</a>
                </li> -->
                <li (click)="isMenuCollapsed = !isMenuCollapsed" class="nav-item">
                    <a class="nav-link" routerLink="risk-calculator">Risk Calculator</a>
                </li>
                <li (click)="isMenuCollapsed = !isMenuCollapsed" class="nav-item">
                    <a class="nav-link" href="#">Refer a friend</a>
                </li>
                <li (click)="isMenuCollapsed = !isMenuCollapsed" class="nav-item">
                    <a class="nav-link" routerLink='aboutus'>Contact Us</a>
                </li>
                
            </ul>
        </div>

        <span class="right-nav-buttons" *ngIf="isUser() else notUserd">
            <div class="my-2">
                <p>{{email}}</p>
            </div>
        </span>

        <ng-template #notUserd>
            <span class="right-nav-buttons">
                <button routerLink='auth'
                    class="btn-custom-primary btn-sm mx-1 px-4 rounded-0 text-decoration-none">Sign In</button>
                <button routerLink='auth/signup'
                    class="btn-custom-primary btn-sm mx-1 px-4 rounded-0 text-decoration-none">Sign Up</button>
            </span>
        </ng-template>

    </div>
</nav>

<!-- Mobile view -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav navbar-nav">
        <li *ngIf="isUser() else notUser">
            <a routerLink='auth'><i class="fa fa-user mr-3"></i> Sign In</a>
        </li>

        <ng-template #notUser>
            <li>
                <a routerLink='dashboard'><i class="fa fa-user mr-3"></i> My Account</a>
            </li>
        </ng-template>


        <li>
            <a href="payments.html"><i class="fa fa-server mr-3"></i> Payments</a>
        </li>
        <li>
            <a href="refer-a-friend.html"><i class="fa fa-table mr-3"></i> Rafer a friend</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart mr-3"></i> Buy/Sell</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart mr-3"></i> Risk Calculator</a>
        </li>
        <li>
            <a href="about.html"><i class="fa fa-info mr-3"></i> About Us</a>
        </li>
    </ul>
</div>
<!-- End Mobile view -->
<!-- Navbar End -->