<div class="container p-0">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap border-bottom mb-3 p-3 bg-light">
        <h6>Profile</h6>
        <div class="btn-toolbar">
            <button type="button" class="btn-outline-custom-primary">
                <i class="fa fa-pencil-square-o"></i> EDIT
            </button>
        </div>
    </div>
    
    <div *ngIf="profileInfo" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="container">
            <div class="card border-0">
                <div class="row no-gutters">
                    <div class="col-md-3 text-center py-0 pr-3">
                        <figure class="figure">
                            <img src="https://secure.gravatar.com/avatar/4cdbecf02f1952952ac7dc23945df3a6?s=400&d=mm&r=g"
                                class="card-img figure-img img-fluid rounded avatar-profile" alt="Avatar">
                            <figcaption class="figure-caption text-center h5">{{email}}</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-9">
                        <div class="card-body p-0">
                            <form (ngSubmit)="update(profileForm)" #profileForm="ngForm">
                                <div class="form-row mb-2">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <small class="form-text text-muted h6">First Name</small>
                                        <input type="text" class="shadow-sm" placeholder="" title="Please enter your first name" name="firstName" [(ngModel)]="profileInfo.firstName" required>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <small class="form-text text-muted h6">Last Name</small>
                                        <input type="text" class="shadow-sm" placeholder="" title="Please enter your last name" name="lastName" [(ngModel)]="profileInfo.lastName" required>
                                    </div>
                                </div>
                                <div class="form-row my-2">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <small class="form-text text-muted h6">Mobile Number</small>
                                        <input type="text" class="shadow-sm" placeholder=""
                                            title="Please enter your valid mobile number" name="mobile" [(ngModel)]="profileInfo.mobile" required>
                                    </div>
                                </div>
                                <div class="form-row my-2">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <small class="form-text text-muted h6">Gender</small>
                                        <select name="gender" [(ngModel)]="profileInfo.gender" required class="shadow-sm">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="py-3">
                                    <button type="submit" class="save-btn">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>