<div class="container p-0">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap border-bottom mb-3 p-3 bg-light">
        <h6>Order History</h6>
        <div class="btn-toolbar">
            <button type="button" class="btn-outline-custom-primary">
                <i class="fa fa-pencil-square-o"></i> Manage
            </button>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="container table-responsive">
            <!-- Content Card -->
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Interest</th>
                    <th scope="col">Amount Invested</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of orders;let i=index">
                    <th scope="row">{{i}}</th>
                    <td>{{item.plan.title}}</td>
                    <td>{{item.plan.interest}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.timestamp.toDate() | date}}</td>
                    <td>
                        <button>Action</button>
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
</div>