<div class="container p-0">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap border-bottom mb-3 p-3 bg-light">
        <h6>Order History</h6>
        <div class="btn-toolbar">
            <button type="button" class="btn-outline-custom-primary">
                <i class="fa fa-pencil-square-o"></i> Manage
            </button>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="container">
            <!-- Content Card -->


        </div>
    </div>
</div>