
<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar shadow">
        <div class="sidebar-sticky pr-2">

            <ul class="list-group list-group-flush">
                <li class="list-group-item p-0 rounded-0">
                    <button routerLink="/admin/dashboard/plans" class="mx-1 py-2 px-4 bg-transparent border-0">
                        <i class="fa fa-bar-chart text-muted"></i> Investment Plans
                    </button>
                </li>
                <li class="list-group-item p-0 rounded-0">
                    <button routerLink="/dashboard/manage-profile" class="mx-1 py-2 px-4 bg-transparent border-0">
                        <i class="fa fa-user-plus text-muted"></i> Manage Profile
                    </button>
                </li>
                <li class="list-group-item p-0 rounded-0">
                    <button routerLink="/dashboard/order-history" class="mx-1 py-2 px-4 bg-transparent border-0">
                        <i class="fa fa-history text-muted"></i> Order History
                    </button>
                </li>
                <li class="list-group-item p-0 rounded-0">
                    <button routerLink="/dashboard/transaction-history" class="mx-1 py-2 px-4 bg-transparent border-0"><i class="fa fa-shopping-cart text-muted"></i> Transaction History
                    </button>
                </li>
              </ul>
  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 my-3 text-muted">
            <span>logout to your account</span>
          </h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-0 rounded-0 border-top border-bottom">
                <button (click)="logout()" class="mx-1 py-2 px-4 bg-transparent border-0">
                    <i class="fa fa-power-off px-2 text-muted"></i> Logout
                </button>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-10 ml-sm-auto col-lg-10 p-0">
        
        <router-outlet></router-outlet>
        <br><br><br>
      </main>

      
    </div>
  </div>