<section class="jumbotron text-center banner-home bg-white border-0 rounded-0">
    <div class="container all-content-center">
        <h3 class="banner-heading">Hello India, Start Investing in Micro Funds</h3>
        <p class="lead banner-text">Invest your weekly savings with our portfolios in your pocket.</p>
        <p class="my-5">
            <a routerLink='auth/signup' class="btn-banner-signin text-decoration-none">Sign Up</a>
        </p>
    </div>
</section>

<section class="container">
    <div class="text-center">
        <h3>Our plans</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm m-2">
            <div class="card rounded-0 w-100 text-center cursor-pointer border-0">
                <div class="card-body">
                    <div class="p-2">
                        <img class="icon-img" src="../../../assets/images/services/contract-staffing-icon.png">
                    </div>
                    <h5 class="card-title mt-3">Plan 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rs. 299.00</h6>
                    <p>Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-custom-primary btn-sm mx-1 px-4">View Plan</a>
                </div>
            </div>
        </div>
        <div class="col-sm m-2">
            <div class="card rounded-0 w-100 text-center cursor-pointer border-0">
                <div class="card-body">
                    <div class="p-2">
                        <img class="icon-img" src="../../../assets/images/services/contract-to-hire-icon.png">
                    </div>
                    <h5 class="card-title mt-3">Plan 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rs. 299.00</h6>
                    <p>Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-custom-primary btn-sm mx-1 px-4">View Plan</a>
                </div>
            </div>
        </div>
        <div class="col-sm m-2">
            <div class="card rounded-0 w-100 text-center cursor-pointer border-0">
                <div class="card-body">
                    <div class="p-2">
                        <img class="icon-img" src="../../../assets/images/services/consultation-services-icon.png">
                    </div>
                    <h5 class="card-title mt-3">Plan 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rs. 299.00</h6>
                    <p>Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-custom-primary btn-sm mx-1 px-4">View Plan</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="jumbotron container border-0 rounded-0 bg-white">
    <div class="text-center">
        <h3>No manual needed</h3>
        <p>We have designed Spaceship Voyager for the next generation of newcomers and experts alike.
            It's easy to use and makes learning about investing fun.</p><br>
        <hr>
    </div>
    <div class="timeline">
        <div class="timeline-container timeline-text-left">
            <div class="timeline-content shadow">
                <h4>Simple to get started</h4>
                <p>Become an investor with our simple, easy to use app. There is no minimum investment.</p>
            </div>
        </div>
        <div class="timeline-container timeline-text-right">
            <div class="timeline-content shadow">
                <h4>Curated news</h4>
                <p>Our in-house content team delivers content about companies in your portfolio, so you can learn
                    more about your investment.</p>
            </div>
        </div>
        <div class="timeline-container timeline-text-left">
            <div class="timeline-content shadow">
                <h4>In-depth company information</h4>
                <p>Get to know all the companies in the fund.</p>
            </div>
        </div>
        <div class="timeline-container timeline-text-right">
            <div class="timeline-content shadow">
                <h4>Easy diversification</h4>
                <p>Get exposure to multiple companies with a single investment.</p>
            </div>
        </div>
    </div>
</section>


<section class="jumbotron container-fluid bg-white border-0 d-none d-lg-block d-xl-block">
    <div class="text-center">
        <h3>Our Services</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <img src="https://www.clsinvest.com/wp-content/uploads/2017/01/GettyImages-490918202.jpg"
                            alt="">
                        <div class="carousel-caption">
                            <h3>Secure Investment</h3><br>
                            <p>Pulvinar leo id risus pellentesque vestibulum. Sed diam libero, sodales eget sapien
                                bibendum.</p>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX15566141.jpg" alt="">
                        <div class="carousel-caption">
                            <h3>Availability Anytime</h3><br>
                            <p>Nullam hendrerit justo non leo aliquet imperdiet. Etiam sagittis lectus condime
                                dapibus vitae.</p>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <img src="https://www.tradersaccounting.com/wp-content/uploads/2017/05/investment-strategy.jpg"
                            alt="">
                        <div class="carousel-caption">
                            <h3>Track Your Investments</h3><br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque tempor
                                quis.</p>
                        </div>
                    </div>
                </div>
                <!-- End Carousel Inner -->
                <ul class="nav nav-pills nav-justified">
                    <li data-target="#myCarousel" data-slide-to="0" class="nav-item active"><a href="#"
                            class="nav-link"><strong>Secure Investment</strong>Lorem ipsum dolor sit amet</a></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="nav-item"><a href="#"
                            class="nav-link"><strong>Availability Anytime</strong> Nesciunt stumpown odio aliqua</a>
                    </li>
                    <li data-target="#myCarousel" data-slide-to="2" class="nav-item"><a href="#"
                            class="nav-link"><strong>Track Your Investments</strong> Oullam hendrerit justom
                            leow</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="jumbotron container bg-white border-0">
    <div class="text-center">
        <h3>Product Disclosure Statement (PDS)</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-4 p-1">
            <a href="#" class="text-decoration-none text-dark">
                <div class="card shadow-hvr cursor-pointer">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize"><i class="fa fa-cogs"></i> product’s key features
                        </h5>
                        <p class="card-text my-2">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted"><i class="fa fa-clock-o"></i> Last updated 3
                                mins ago</small></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 p-1">
            <a href="#" class="text-decoration-none text-dark">
                <div class="card shadow-hvr cursor-pointer">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize"><i class="fa fa-user"></i> fees, commissions,
                            benefits</h5>
                        <p class="card-text my-2">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted"><i class="fa fa-clock-o"></i> Last updated 3
                                mins ago</small></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 p-1">
            <a href="#" class="text-decoration-none text-dark">
                <div class="card shadow-hvr cursor-pointer">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize"><i class="fa fa-user"></i> risks and complaints
                            handling</h5>
                        <p class="card-text my-2">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted"><i class="fa fa-clock-o"></i> Last updated 3
                                mins ago</small></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>


