.signin-btn{
    background-color: #12003B;
    color: #fff;
    border-radius: 2em;
    padding: 5px 30px 5px;
}


.ng-touched{
    .ng-valid[required], .ng-valid.required  {
        border: 1px solid #42A948; /* green */
    }
        
        .ng-invalid:not(form)  {
        border: 1px solid #e70e0a; /* red */
    }
}