<section class="jumbotron bg-white border-0">
    <section class="jumbotron text-left bg-light">
        <div class="container">
            <h1>About Us</h1>
            <p class="lead text-muted">Smart Star Investment is a Micro Investing start-up. SSI aim is to bring the inexperienced investor in the market through SSI Pocket Application which will have investment plans. SSI helps the individual investor to choose an investment plan based on risk appetite. SSI Pocket helps your money to grow your money accordingly. By making investing simple and painless, micro-investing platforms can help an individual to invest regularly. These platforms take tiny amounts of money, usually from rounding up transactions and invests them. Small savings can add up over time to yield returns that beat traditional savings.
            </p>
    
            <h1>Why SSI Pocket
            </h1>
            <p class="lead text-muted">
                SSI has unique features which help and encourage inexperienced or even experienced individuals to invest in small amounts. invest with no minimum amount at a low cost.
            </p>
            <p>
                In the digital era, SSI pocket helps your spare change to grow over a period of time. Each time you make a purchase, the platform rounds up your purchase to the nearest amount and deposit the difference into an investment account.
            </p>
    
        </div>
    </section>
    <div class="container">
        <h1 class="font-weight-normal heading">Our mission</h1><br>
        <p class="lead">
            Smart Star is a FinTech startup looking to disrupt stock investment market. Smart Star’s aim is to bring
            inexperienced investors in the market through small investment plans. Some of the challenges to meet
            this objective are:
        </p>
        <ul>
            <li>
                <p class="lead">Investing in financial market is very complicated. </p>
            </li>
            <li>
                <p class="lead">Investor need to understand market situation and good stock to get return.</p>
            </li>
            <li>
                <p class="lead">In Busy schedule investor has no time to check their stock.</p>
            </li>
            <li>
                <p class="lead">They don’t have right time to sell and buy.</p>
            </li>
        </ul>
        <p class="lead">
            To overcome this challenges, Smart Star is building an online application called Smart Star Investment
            (SSI). SSI is online investing portal, it helps individuals to invest in small amounts, invest with no
            minimum amount with low cost.
        </p>
        <p class="lead">
            At the outset, the client will brief the project team about the BIG IDEA – what is the product? How it
            will disrupt the market? The team should be ready to sign a Non-disclosure agreement with the client if
            required. The project is divided into two phases – analysis and development.
        </p>
    </div>
</section>




<section class="jumbotron bg-white border-0">
    <div class="container">
        <div class="container center-text-div">
            <h3 class="font-weight-normal heading">Contact Us</h3>
            <hr>
        </div>
        <form>
            <div class="form-row my-2">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="fnameHelp" class="form-text text-muted">First Name*</small>
                    <input type="text" class="shadow-sm" placeholder="" title="Please enter your first name">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="lnameHelp" class="form-text text-muted">Last Name</small>
                    <input type="text" class="shadow-sm" placeholder="" title="Please enter your last name">
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="emailHelp" class="form-text text-muted">Email Address*</small>
                    <input type="email" class="shadow-sm" placeholder="" title="Please enter your email address">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="mobileHelp" class="form-text text-muted">Mobile Number*</small>
                    <input type="text" class="shadow-sm" placeholder=""
                        title="Please enter your valid mobile number">
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <small id="passwordHelp" class="form-text text-muted">Message</small>
                    <textarea class="shadow-sm" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
            </div>
            <div class="py-4 text-center">
                <button class="btn contact-send-btn">Send</button>
            </div>
        </form>
    </div>
</section>