<section class="jumbotron bg-white border-0">
    <div class="container">
        <h1 class="font-weight-normal heading">Our mission</h1><br>
        <p class="lead">
            Smart Star is a FinTech startup looking to disrupt stock investment market. Smart Star’s aim is to bring
            inexperienced investors in the market through small investment plans. Some of the challenges to meet
            this objective are:
        </p>
        <ul>
            <li>
                <p class="lead">Investing in financial market is very complicated. </p>
            </li>
            <li>
                <p class="lead">Investor need to understand market situation and good stock to get return.</p>
            </li>
            <li>
                <p class="lead">In Busy schedule investor has no time to check their stock.</p>
            </li>
            <li>
                <p class="lead">They don’t have right time to sell and buy.</p>
            </li>
        </ul>
        <p class="lead">
            To overcome this challenges, Smart Star is building an online application called Smart Star Investment
            (SSI). SSI is online investing portal, it helps individuals to invest in small amounts, invest with no
            minimum amount with low cost.
        </p>
        <p class="lead">
            At the outset, the client will brief the project team about the BIG IDEA – what is the product? How it
            will disrupt the market? The team should be ready to sign a Non-disclosure agreement with the client if
            required. The project is divided into two phases – analysis and development.
        </p>
    </div>
</section>

<section class="jumbotron text-left bg-light">
    <div class="container">
        <h1>Analysis</h1>
        <p class="lead text-muted">conduct a market research to identify any similar attempts being made in the
            past/present. Identify similar investment portals made for small investments, conduct a comprehensive
            analysis on its features, capabilities, reach, user base including age and location demographics,
            success rate, user satisfaction rate, etc. and present competitive analysis study report. Plan, design
            and conduct a user needs analysis survey/questionnaire/interview as deemed suitable to recognize the
            market demand. Present the outcomes of the need analysis in a detailed report followed by a
            presentation. The outcome should clearly touch the following areas:</p>
        <ul>
            <li>Define the market demand</li>
            <li>Market segmentation based on different parameters</li>
            <li>Identify drivers of demand in each segment </li>
            <li>How are these drivers likely to change in future?</li>
        </ul>
        <p class="lead">The last activity would be conducting a sensitivity analysis to understand the most critical
            risks, assumptions, forecasts and its sensitivity. A thorough analysis is required to ensure the
            sustainability of the SSI portal.</p>
    </div>
</section>


<section class="jumbotron bg-white border-0">
    <div class="container">
        <div class="container center-text-div">
            <h3 class="font-weight-normal heading">Contact Us</h3>
            <hr>
        </div>
        <form>
            <div class="form-row my-2">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="fnameHelp" class="form-text text-muted">First Name*</small>
                    <input type="text" class="shadow-sm" placeholder="" title="Please enter your first name">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="lnameHelp" class="form-text text-muted">Last Name</small>
                    <input type="text" class="shadow-sm" placeholder="" title="Please enter your last name">
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="emailHelp" class="form-text text-muted">Email Address*</small>
                    <input type="email" class="shadow-sm" placeholder="" title="Please enter your email address">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <small id="mobileHelp" class="form-text text-muted">Mobile Number*</small>
                    <input type="text" class="shadow-sm" placeholder=""
                        title="Please enter your valid mobile number">
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <small id="passwordHelp" class="form-text text-muted">Message</small>
                    <textarea class="shadow-sm" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
            </div>
            <div class="py-4 text-center">
                <a href="#" class="btn-submit shadow-sm text-decoration-none">Send</a>
            </div>
        </form>
    </div>
</section>