<div class="container p-0">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap border-bottom mb-3 p-3 bg-light">
        <h6>Investment Plans</h6>
        <div class="btn-toolbar">

        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="container">
            <!-- Main jumbotron for a primary marketing message or call to action -->

         
                <!-- Example row of columns -->
                <div class="row">
                    <div *ngFor="let item of plans" class="col-md-4">
                        <div class="card p-3 shadow-sm my-2">
                            <h4>{{item.title}}</h4>
                            <p>Average Annual Return (AAR) {{item.interest}} %</p>
                            <p>
                                <button (click)="proceedToPay($event)" type="button" class="buy-now-btn shadow-sm border-0 mx-1">Invest Now</button>
                                <button type="button" class="view-details-btn shadow-sm border-0 mx-1">View Details</button>
                            </p>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>