.buy-now-btn{
    background-color: #166678;
    color: #fff;
    border-radius: 2em;
    padding: 5px 30px 5px;
}

.view-details-btn{
    background-color: #F2AC4A;
    color: #fff;
    border-radius: 2em;
    padding: 5px 30px 5px;
}
