<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap border-bottom mb-3 p-3 bg-light">
        <h5>Investment Plans</h5>
        <div class="btn-toolbar">

        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="container">
            <!-- Main jumbotron for a primary marketing message or call to action -->

         
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card p-3 shadow-sm my-2">
                            <h4>Low Risk Fund</h4>
                            <p>Average Annual Return (AAR) 5-10%</p>
                            <p><button type="button" class="buy-now-btn shadow-sm border-0">Buy Now</button></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-3 shadow-sm my-2">
                            <h4>Moderate Fund</h4>
                            <p>Average Annual Return (AAR) 10-15%</p>
                            <p><button type="button" class="buy-now-btn shadow-sm border-0">Buy Now</button></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-3 shadow-sm my-2">
                            <h4>High Risk Fund</h4>
                            <p>Average Annual Return (AAR) more then 15%</p>
                            <p><button type="button" class="buy-now-btn shadow-sm border-0">Buy Now</button></p>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>